container_commands:
  01_makemigrations:
    command: "python manage.py makemigrations config"
    leader_only: true
  02_migrate :
    command : "python manage.py migrate"
    leader_only : true
  03_compilemessages:
    command: "django-admin compilemessages"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath:config.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE:config.settings